.detail-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    max-width: 70rem;
    margin: 0.5rem auto;
    padding: 1.5rem;
    background-color: gainsboro;
    border-radius: 8px;
    gap: 1rem;              
}

.detail-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1; 
}

.detail-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: darkslategray;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detail-subtitle {
    font-size: 1rem;
    color: grey;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.detail-text {
    font-size: 0.75rem;
    color: black;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.detail-numbers {
    color: black;
    line-height: 1.6;
    text-align: justify;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-self: center;
}


.detail-img {
    width: 13rem;
    border-radius: 10px;
}

