.checkout-form {
  max-width: 30rem;
  margin: 0 auto;   
  margin-top: 2rem;
  gap: 2rem;
}

.checkout-title {
    text-align: center;
    margin-bottom: 20px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}